h1 {
    color: blue;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td {
    padding: 5px;
    text-align: left;
}

#timeCol {
    width: 100px;
}

#exhibitCol {
    width: 200px;
}