h1 {
    display: block;
    background-color: white;
    width: 100% - 20px;
    padding: 20px;
}

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(images/all.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h1, body {
    margin: 0;
}

#content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "demos animals";
    height: 90%;
}

#demo-content {
    grid-area: "demos";
    margin: 10px;
    padding: 10px;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

#animal-content {
    grid-area: "animals";
    margin: 10px;
    padding: 10px;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;

}

.exhibit {
    padding-left: 5px;
}

[data-exhibit="elephant-trails"] a {
    color: rgb(53, 144, 243);
    text-decoration-line: none;
}

.demo[data-exhibit="elephant-trails"],
.animal[data-exhibit="elephant-trails"] {
    border: 3px solid rgb(53, 144, 243);
}

[data-exhibit="elephant-trails"] a:hover {
    color: rgb(18, 61, 107);
    text-decoration-line: underline;
}

[data-exhibit="american-bison"] a {
    color: rgb(79, 12, 99);
    text-decoration-line: none;
}

.demo[data-exhibit="american-bison"],
.animal[data-exhibit="american-bison"] {
    border: 3px solid rgb(79, 12, 99);
}

[data-exhibit="american-bison"] a:hover {
    color: rgb(52, 4, 67);
    text-decoration-line: underline;
}

[data-exhibit="bird-house"] a {
    color: rgb(91, 143, 110);
    text-decoration-line: none;
}

.demo[data-exhibit="bird-house"],
.animal[data-exhibit="bird-house"] {
    border: 3px solid rgb(91, 143, 110);
}

[data-exhibit="bird-house"] a:hover {
    color: rgb(62, 108, 79);
    text-decoration-line: underline;
}

[data-exhibit="amazonia"] a {
    color: #F26419;
    text-decoration-line: none;
}

.demo[data-exhibit="amazonia"], 
.animal[data-exhibit="amazonia"] {
    border: 3px solid #F26419;
}

[data-exhibit="amazonia"] a:hover {
    color: #74310d;
    text-decoration-line: underline;
}

[data-exhibit="small-mammal-house"] a {
    color: #87B37A;
    text-decoration-line: none;
}

.demo[data-exhibit="small-mammal-house"], 
.animal[data-exhibit="small-mammal-house"] {
    border: 3px solid #87B37A;
}

[data-exhibit="small-mammal-house"] a:hover {
    color: #4c6e41;
    text-decoration-line: underline;
}

[data-exhibit="africa-trail"] a {
    color: #2F4858;
    text-decoration-line: none;
}

.demo[data-exhibit="africa-trail"], 
.animal[data-exhibit="africa-trail"] {
    border: 3px solid #2F4858;
}

[data-exhibit="africa-trail"] a:hover {
    color: #1270aa;
    text-decoration-line: underline;
}

[data-exhibit="primates"] a {
    color: #F6AE2D;
    text-decoration-line: none;
}

.demo[data-exhibit="primates"], 
.animal[data-exhibit="primates"] {
    border: 3px solid #F6AE2D;
}

[data-exhibit="primates"] a:hover {
    color: #996606;
    text-decoration-line: underline;
}

[data-exhibit="reptile-discovery-center"] a {
    color: #987175;
    text-decoration-line: none;
}

.demo[data-exhibit="reptile-discovery-center"], 
.animal[data-exhibit="reptile-discovery-center"] {
    border: 3px solid #996606;
}

[data-exhibit="reptile-discovery-center"] a:hover {
    color: #78101b;
    text-decoration-line: underline;
}

[data-exhibit="american-trail"] a {
    color: #06893C;
    text-decoration-line: none;
}

.demo[data-exhibit="american-trail"], 
.animal[data-exhibit="american-trail"] {
    border: 3px solid #06893C;
}

[data-exhibit="american-trail"] a:hover {
    color: #044b21;
    text-decoration-line: underline;
}

[data-exhibit="asia-trail"] a {
    color: #084C61;
    text-decoration-line: none;
}

.demo[data-exhibit="asia-trail"], 
.animal[data-exhibit="asia-trail"] {
    border: 3px solid #084C61;
}

[data-exhibit="asia-trail"] a:hover {
    color: #378096;
    text-decoration-line: underline;
}

[data-exhibit="great-cats"] a {
    color: #F7ACCF;
    text-decoration-line: none;
}

.demo[data-exhibit="great-cats"],
.animal[data-exhibit="great-cats"] {
    border: 3px solid #F7ACCF;
}

[data-exhibit="great-cats"] a:hover {
    color: #db0e6e;
    text-decoration-line: underline;
}

[data-exhibit="kids-farm"] a {
    color: #C62606;
    text-decoration-line: none;
}

.demo[data-exhibit="kids-farm"], 
.animal[data-exhibit="kids-farm"] {
    border: 3px solid #C62606;
}

[data-exhibit="kids-farm"] a:hover {
    color: #881a04;
    text-decoration-line: underline;
}

[data-exhibit="claws-paws-pathway"] a {
    color: #4CB5AE;
    text-decoration-line: none;
}

.demo[data-exhibit="claws-paws-pathway"],
.animal[data-exhibit="claws-paws-pathway"] {
    border: 3px solid #4CB5AE;
}

[data-exhibit="claws-paws-pathway"] a:hover {
    color: #1b5c58;
    text-decoration-line: underline;
}

#demo-grid {
    display: grid;
}

#animal-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.animal {
    background-color: white;
    border: 5px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.demo {
    background-color: white;
    border: 5px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}

.time, .exhibit {
    display: inline;
}

select {
    margin-bottom: 10px;
}

label, input {
    margin: 5px 0;
}

a {
    color: black;
    text-decoration: none;
}